body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;  /* 100% = 16px*/
    text-align: center;
    
}

h1{
    font-family: "Give You Glory", cursive;
    font-size: 50px;
    width: 50%;
    margin: 0 auto;
}

p{
    font-family: "Nunito", sans-serif;
    margin-top: 70px;

}