/*p {
    color: blue;
}

p.error {
    color: red;
}

p.success.feedback {
    color: green;
    border: 5px solid yellow;
}*/

#top-container {
    background-color: lightgray;
}
#bottom-container {
    background-color: lightgreen;
}

div .error {
    color:red;
}

a[href] {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: yellow;
}

a[href*="google"] {
    background-color: green;
}
a[href$=".ac.id"]{
    background-color: purple;
}

h1:hover {
    color: white;
    background-color: black;
}

p::selection{
    background-color: red;
    color: yellow;
}

a::before {
    content: "Link";
}